
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <link href="~/Content/css/SignIn.css" rel="stylesheet" />
</head>
<body>
    <div class="content"> 
        <div class="top_content">top</div>
        <div class="left_content">left</div>
        <div class="right_context">right</div>
        <div class="bottom_content">bottom</div>
    </div>
</body>
</html>
