
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Partial/Master.cshtml";
}

<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">
        <h1>关于我们</h1>
    </div>
</div>

