
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>用户后台管理</title>
    <link rel="shortcut icon" href="~/Content/images/Logo8.png" type="image/x-icon">
    <!-- layui.css -->
    <link href="~/Content/plug/layui/css/layui.css" rel="stylesheet" />
    <!-- 本页样式 -->
    <link href="~/Content/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="mask"></div>
    <div class="main">
        <h1><span style="font-size: 84px;">H</span><span style="font-size:30px;">elpyou</span></h1>
        <p id="time"></p>
        <div class="enter">
            Click/Enter ☞Login
        </div>
    </div>
    <!-- layui.js -->
    <script src="~/Content/js/jquery-1.8.3.min.js"></script>
    <script src="~/Content/plug/layui/layui.js"></script>
    <!-- layui规范化用法 -->
    <script type="text/javascript">
        layui.config({
            base: '../Content/js/'
        }).use('index');
    </script>
</body>
</html>

