
@{
    ViewBag.Title = "资源分享";
    Layout = "~/Views/Partial/Master.cshtml";
}


<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">
        <h1>资源分享</h1>
    </div>
</div>
