
@{
    ViewBag.Title = "求助大神";
    Layout = "~/Views/Partial/Master.cshtml";
}

<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">
        <h1>求助大神</h1>
    </div>
</div>
