@{
    Layout = "~/Views/Partial/Master.cshtml";
}
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-md-8 am-u-sm-12 am-panel-secondary">
        <article class="am-article blog-article-p">
            <!--语言分类新闻-->
            <ul class="am-nav am-nav-tabs">
                <li class="am-active"><a href="#">C#</a></li>
                <li><a href="#">C</a></li>
                <li><a href="#">C++</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">PHP</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
            <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                <div class="am-list-news-hd am-cf">
                    @*<a href="##" class="">
                            <h2>栏目标题</h2>
                            <span class="am-list-news-more am-fr">更多 &raquo;</span>
                        </a> *@
                </div>
                <div class="am-list-news-bd">
                    <ul class="am-list">
                        <li class="am-g am-list-item-default">
                            <a href="##" class="am-list-item-hd ">我很囧，你保重....晒晒旅行中的那些囧！</a>
                            <span class="am-list-date">2013-09-18</span>
                        </li>
                        <li class="am-g am-list-item-default">
                            <a href="##" class="am-list-item-hd ">我最喜欢的一张画</a>
                            <span class="am-list-date">2013-10-14</span>
                        </li>
                        <li class="am-g am-list-item-dated">
                            <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                            <span class="am-list-date">2013-11-18</span>
                        </li>
                        <li class="am-g am-list-item-dated">
                            <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                            <span class="am-list-date">2013-11-18</span>
                        </li>
                        <li class="am-g am-list-item-dated">
                            <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                            <span class="am-list-date">2013-11-18</span>
                        </li>
                        <li class="am-g am-list-item-dated">
                            <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                            <span class="am-list-date">2013-11-18</span>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <!--语言分类新闻-->
        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
        <!--模块分类-->
        <article class="am-article blog-article-p">
            <ul class="am-nav am-nav-tabs">
                <li class="am-active"><a href="#">精选博文</a></li>
                <li><a href="#">今日快报</a></li>
                <li><a href="#">资源分享</a></li>
                <li><a href="#">求助大神</a></li>
            </ul>
            <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                <div class="am-list-news-hd am-cf">
                    @*<a href="##" class="">
                        <h2>栏目标题</h2>
                         <span class="am-list-news-more am-fr">更多 &raquo;</span>
                         </a>   *@
                </div>
                <div class="am-list-news-bd">
                    <ul class="am-list">
                        <li class="am-g am-list-item-default">
                            <a href="##" class="am-list-item-hd ">我很囧，你保重....晒晒旅行中的那些囧！</a>
                            <span class="am-list-date">2013-09-18</span>
                        </li>
                        <li class="am-g am-list-item-dated">
                            <a href="##" class="am-list-item-hd ">我最喜欢的一张画</a>
                            <span class="am-list-date">2013-10-14</span>
                        </li>
                        <li class="am-g am-list-item-dated">
                            <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                            <span class="am-list-date">2013-11-18</span>
                        </li>
                        <li class="am-g am-list-item-dated">
                            <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                            <span class="am-list-date">2013-11-18</span>
                        </li>
                        <li class="am-g am-list-item-dated">
                            <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                            <span class="am-list-date">2013-11-18</span>
                        </li>
                        <li class="am-g am-list-item-dated">
                            <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                            <span class="am-list-date">2013-11-18</span>
                        </li>
                        <li class="am-g am-list-item-dated">
                            <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                            <span class="am-list-date">2013-11-18</span>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <!--模块分类-->
        @*<ul data-am-widget="pagination"
                class="am-pagination am-pagination-default am-topbar-right">
                <li class="am-pagination-first ">
                    <a href="#" class="">第一页</a>
                </li>
                <li class="am-pagination-prev ">
                    <a href="#" class="">上一页</a>
                </li>
                <li class="">
                    <a href="#" class="">1</a>
                </li>
                <li class="am-active">
                    <a href="#" class="am-active">2</a>
                </li>
                <li class="">
                    <a href="#" class="">3</a>
                </li>
                <li class="">
                    <a href="#" class="">4</a>
                </li>
                <li class="">
                    <a href="#" class="">5</a>
                </li>
                <li class="am-pagination-next ">
                    <a href="#" class="">下一页</a>
                </li>
                <li class="am-pagination-last ">
                    <a href="#" class="">最末页</a>
                </li>
            </ul>*@
    </div>
    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="~/Content/assets/i/f161.jpg" alt="about me" class="blog-entry-img">
            <p>妹纸</p>
            <p>
                我是妹子UI，中国首个开源 HTML5 跨屏前端框架
            </p><p>我不想成为一个庸俗的人。十年百年后，当我们死去，质疑我们的人同样死去，后人看到的是裹足不前、原地打转的你，还是一直奔跑、走到远方的我？</p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
                <a href="" class="blog-tag">amaze</a>
                <a href="" class="blog-tag">妹纸 UI</a>
                <a href="" class="blog-tag">HTML5</a>
                <a href="" class="blog-tag">这是标签</a>
                <a href="" class="blog-tag">Impossible</a>
                <a href="" class="blog-tag">开源前端框架</a>
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>么么哒</span></h2>
            <ul class="am-list">
                <li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                <li><a href="#">我把最深沉的秘密放在那里。</a></li>
                <li><a href="#">你不懂我，我不怪你。</a></li>
                <li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
            </ul>
        </div>
    </div>
</div>
