<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> 后台管理系统</title>
    <link rel="shortcut icon" href="~/Content/images/Logo_40.png" type="image/x-icon">
    <!-- layui.css -->
    <link href="~/Content/plugin/layui/css/layui.css" rel="stylesheet" />
    <!-- 本页样式 -->
    <link href="~/Content/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="mask"></div>
    <div class="main">
        <h1><span style="font-size: 84px;">B</span><span style="font-size:30px;">log</span></h1>
        <p id="time"></p>
        <div class="enter">
            请&nbsp;&nbsp;点击鼠标&nbsp;&nbsp;按下回车进入登录
        </div>
    </div>
    <!-- layui.js -->
    <script src="~/Content/plugin/layui/layui.js"></script>
    <!-- layui规范化用法 -->
    <script type="text/javascript">
        layui.config({
            base: '../Content/js/'
        }).use('index');
    </script>
</body>
</html>